p {
	color: #9dc6bf;
    font-size: 20px;
}

#Minaintressen {
	color:#bdc3c7;
}

#Melon {
	color:#ffc184;
}

h3 {
	color:#616e82;
}

h4 {
	color:#dbb66d;
}

li {
	color:#ed8c87;
}

a {
	color:#af263d;
}

h2 {
	color:#826f61;
}